
services:
    db:
        image: postgres:15-alpine
        volumes:
          - postgres_data:/var/lib/postgresql/data/
        ports:
          - "5432"
        environment:
          - POSTGRES_USER=postgres
          - POSTGRES_PASSWORD=postgres
          - POSTGRES_DB=smonitor

    backend:
      build: backend
      container_name: backend
      environment:
        - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/smonitor

    frontend:
      build: client
      container_name: client


    nginx:
      image: nginx:stable-alpine
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - "./nginx.conf:/etc/nginx/nginx.conf"
      depends_on:
        - backend
        - frontend


volumes:
  postgres_data: