name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
   test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install dependencies backend
      run: |
        cd backend
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test backend
      env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
      run: |
        cd backend
        pytest -s -v
    - name: Install dependencies frontend
      run: |
        cd client
        npm install
    - name: Test frontend
      run: |
        cd client
        npx vitest
